body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/*Download button*/
.download-btn {
    margin: 5% 3% 5% 0;
}

.download-btn-cta {
    margin: 5% 2% 0 2%;
}

.download-btn:hover, .download-btn-cta:hover {
    filter: invert(100%);
}

/*Phone Image*/
.phone-img {
    position: absolute;
    transform: rotate(25deg);
    width: 350px;
    z-index: 0;
}

#features {
    position: relative;
    z-index: 1;
}

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

#pricing {
    padding: 100px;

}

#footer {
    padding: 3% 30%;

}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 7% 15%;
}

.white-background {
    background-color: #fff;
}

.pink-background {
    background-color: #ff4c68;
    color: #fff;
}
/*Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Symbol Image */
.symbol-img {
    margin-bottom: 1rem;
    color: #ef8172 !important;
}

.symbol-img:hover {
    color: #ff4c68 !important;
}

/* Features */
.feature-box {
    padding: 3%;
}

p {
    color: #8f8f8f;
    padding: 0 17%;
}

/* Testimonial */
.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-img:hover, .press-logo:hover {
    filter: drop-shadow(1px 1px 20px #fff);
}

.carousel-item{
    transition: transform 2s ease;
    opacity: .5s ease-out;
}

/* Press */
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
.pricing-col {
    padding: 3% 2%;
}

.card-body {
    height: 350px;
}

.dog-type {
    margin: auto;
}

.sign-up, .sign-up1 {
    position: relative;
    margin-bottom: -130px;
}

.sign-up2 {
    position: relative;
    margin-bottom: -50px;
}

.sign-up:hover, .sign-up1:hover, .sign-up2:hover {
    background-color: #ff4c68;
    border-color: #ff4c68;
}

.cta-txt {
    font-size: 3.5rem;
}

.socmed-logo {
    margin: 50px 15px 20px 15px;
}

.socmed-logo:hover {
    color: #ff4c68;
}

@media (max-width: 1175px) {
    #title {
        text-align: center;
    }
    /*Phone Image*/
    .phone-img {
        position: static;
        transform: rotate(0);
    }
}

@media (max-width: 820px) {

    h1 {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: 900;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
    }

    h3 {
        font-size: 1rem;
        font-weight: bold;
    }

    /*Phone Image*/
    .phone-img {
        width: 45%;
    }

    .cta-txt {
        font-size: 2rem;
    }

    .socmed-logo {
        margin: 25px 5px 15px 5px;
    }
}